In [1]:
#pandas libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss

%run "../notebooks/cargar_df.ipynb"

In [2]:
train = get_train()

In [3]:
test = get_test()

In [4]:
train.head().T

,0,1,2,3,4
ID,27761,27760,27446,16808,16805
Region,EMEA,EMEA,Americas,Americas,Americas
Territory,None,None,NW America,NW America,NW America
"Pricing, Delivery_Terms_Quote_Appr",1,0,0,1,1
"Pricing, Delivery_Terms_Approved",1,0,0,0,0
Bureaucratic_Code_0_Approval,1,0,0,1,1
Bureaucratic_Code_0_Approved,1,0,0,0,0
Bureaucratic_Code,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_5,Bureaucratic_Code_5
Account_Created_Date,2015-06-16 00:00:00,2015-06-16 00:00:00,2015-04-21 00:00:00,2013-07-27 00:00:00,2013-07-27 00:00:00
Source,None,None,Source_7,Source_11,Source_11
Billing_Country,Netherlands,Netherlands,United States,United States,United States
Account_Name,Account_Name_619,Account_Name_619,Account_Name_1794,Account_Name_1201,Account_Name_1201
Opportunity_Name,Opportunity_Name_12598,Opportunity_Name_12600,Opportunity_Name_469,Opportunity_Name_415,Opportunity_Name_851
Opportunity_ID,0,1,2,3,4
Sales_Contract_No,None,39,760,None,None
Account_Owner,Person_Name_51,Person_Name_51,Person_Name_64,Person_Name_8,Person_Name_8
Opportunity_Owner,Person_Name_18,Person_Name_20,Person_Name_8,Person_Name_8,Person_Name_8
Account_Type,Account_Type_2,Account_Type_2,Account_Type_5,Account_Type_5,Account_Type_5
Opportunity_Type,Opportunity_Type_1,Opportunity_Type_1,Opportunity_Type_1,Opportunity_Type_19,Opportunity_Type_19
Quote_Type,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding
Delivery_Terms,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_4,Delivery_Terms_1,Delivery_Terms_1
Opportunity_Created_Date,2015-12-07 00:00:00,2015-12-07 00:00:00,2015-12-08 00:00:00,2015-12-08 00:00:00,2015-12-08 00:00:00
Brand,None,None,None,Other,Other
Product_Type,None,None,None,Product_Type_0,Product_Type_0
Size,None,None,None,Size_4,Size_4
Product_Category_B,None,None,None,Product_Category_B_16,Product_Category_B_16
Price,None,None,None,0.42,0.42
Currency,None,None,None,USD,USD
Quote_Expiry_Date,1/30/2016,1/20/2016,9/30/2016,NaT,6/2/2017
Last_Modified_Date,2016-06-13 00:00:00,2016-01-15 00:00:00,2016-09-29 00:00:00,2018-03-27 00:00:00,2018-03-27 00:00:00
Last_Modified_By,Person_Name_18,Person_Name_20,Person_Name_8,Person_Name_8,Person_Name_8
Product_Family,Product_Family_77,Product_Family_77,Product_Family_81,Product_Family_209,Product_Family_209
Product_Name,Product_Name_99,Product_Name_100,Product_Name_91,Product_Name_432,Product_Name_432
ASP_Currency,EUR,EUR,USD,USD,USD
ASP,0.52,0.53,0.48,0.53,0.53
ASP_(converted),0.58817,0.59948,0.48,0.53,0.53
Planned_Delivery_Start_Date,2016-05-01 00:00:00,2016-01-18 00:00:00,2016-01-25 00:00:00,2018-02-01 00:00:00,2018-02-01 00:00:00
Planned_Delivery_End_Date,2016-06-30 00:00:00,2016-01-20 00:00:00,2016-01-25 00:00:00,2018-03-31 00:00:00,2018-02-28 00:00:00
Month,2016-05-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00,2018-02-01 00:00:00,2018-02-01 00:00:00
Delivery_Quarter,Q2,Q1,Q1,Q1,Q1
Delivery_Year,2016,2016,2016,2018,2018
TRF,10,0,0,14,25
Total_Amount_Currency,EUR,EUR,USD,USD,USD
Total_Amount,5.2728e+06,48230,83865.6,7.42188e+06,1.33572e+07
Total_Taxable_Amount_Currency,EUR,EUR,USD,USD,USD
Total_Taxable_Amount,5.2728e+06,48230,83865.6,7.42188e+06,1.33572e+07
Stage,Closed Lost,Closed Won,Closed Won,Closed Lost,Closed Lost

In [5]:
test.head().T

,0,1,2,3,4
ID,6140,6146,6151,6118,6124
Region,EMEA,EMEA,EMEA,EMEA,EMEA
Territory,Germany,Germany,Germany,Germany,Germany
"Pricing, Delivery_Terms_Quote_Appr",1,1,1,1,1
"Pricing, Delivery_Terms_Approved",1,1,1,1,1
Bureaucratic_Code_0_Approval,1,1,1,1,1
Bureaucratic_Code_0_Approved,1,1,1,1,1
Bureaucratic_Code,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_4,Bureaucratic_Code_4
Account_Created_Date,2017-07-05 00:00:00,2017-07-05 00:00:00,2017-07-05 00:00:00,2017-07-05 00:00:00,2017-07-05 00:00:00
Source,Source_7,Source_7,Source_7,Source_7,Source_7
Billing_Country,Germany,Germany,Germany,Germany,Germany
Account_Name,Account_Name_978,Account_Name_978,Account_Name_978,Account_Name_978,Account_Name_978
Opportunity_Name,Opportunity_Name_6118,Opportunity_Name_6118,Opportunity_Name_6118,Opportunity_Name_6117,Opportunity_Name_6117
Opportunity_ID,10689,10689,10689,10690,10690
Sales_Contract_No,6436,6436,6436,6504,6504
Account_Owner,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13
Opportunity_Owner,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13
Account_Type,Account_Type_0,Account_Type_0,Account_Type_0,Account_Type_0,Account_Type_0
Opportunity_Type,Opportunity_Type_8,Opportunity_Type_8,Opportunity_Type_8,Opportunity_Type_8,Opportunity_Type_8
Quote_Type,Non Binding,Non Binding,Non Binding,Non Binding,Non Binding
Delivery_Terms,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_2,Delivery_Terms_2
Opportunity_Created_Date,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-12 00:00:00
Brand,None,None,None,None,None
Product_Type,None,None,None,None,None
Size,None,None,None,None,None
Product_Category_B,None,None,None,None,None
Price,None,None,None,None,None
Currency,None,None,None,None,None
Quote_Expiry_Date,4/30/2019,4/30/2019,4/30/2019,4/30/2019,4/30/2019
Last_Modified_Date,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-12 00:00:00,2019-04-25 00:00:00,2019-04-25 00:00:00
Last_Modified_By,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13,Person_Name_13
Product_Family,Product_Family_171,Product_Family_167,Product_Family_140,Product_Family_171,Product_Family_167
Product_Name,Product_Name_332,Product_Name_315,Product_Name_241,Product_Name_328,Product_Name_315
ASP_Currency,EUR,EUR,EUR,EUR,EUR
ASP,0.325,0.32,0.275,0.325,0.32
ASP_(converted),0.36761,0.36195,0.31105,0.36761,0.36195
Planned_Delivery_Start_Date,2019-05-01 00:00:00,2019-05-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-06-01 00:00:00
Planned_Delivery_End_Date,2019-05-31 00:00:00,2019-05-31 00:00:00,2019-05-31 00:00:00,2019-06-28 00:00:00,2019-06-29 00:00:00
Month,2019-05-01 00:00:00,2019-05-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-06-01 00:00:00
Delivery_Quarter,Q2,Q2,Q2,Q2,Q2
Delivery_Year,2019,2019,2019,2019,2019
TRF,0,0,0,1,0
Total_Amount_Currency,EUR,EUR,EUR,EUR,EUR
Total_Amount,162240,78624,126555,243360,157248
Total_Taxable_Amount_Currency,EUR,EUR,EUR,EUR,EUR
Total_Taxable_Amount,367419,367419,367419,757784,757784

In [7]:
train = train[train.Stage.isin(['Closed Won', 'Closed Lost'])].copy()

train.Stage.value_counts()

# Me quedo con los registros con la oportunidad terminada
train.Stage.replace({'Closed Won': 1, 'Closed Lost': 0}, inplace=True)

train.Stage.value_counts()

1    9533
0    7350
Name: Stage, dtype: int64

Busco registros que tengan la misma opportunity id para saber cuales son
las columnas que pueden cambiar el valor

In [8]:
b = train.groupby('Opportunity_ID').ID.count() > 1
b = b[b] # Dejo solo los trues
df = train[train.Opportunity_ID.isin(b.index)]
df

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Bureaucratic_Code,Account_Created_Date,Source,...,Planned_Delivery_End_Date,Month,Delivery_Quarter,Delivery_Year,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage
8,24353,Japan,None,1,0,0,0,Bureaucratic_Code_5,2015-04-20,None,...,2016-02-29,2016-02-01,Q1,2016,0,JPY,15600.0,JPY,470400.0,0
9,24355,Japan,None,1,0,0,0,Bureaucratic_Code_5,2015-04-20,None,...,2016-02-29,2016-02-01,Q1,2016,0,JPY,4400.0,JPY,470400.0,0
10,24356,Japan,None,1,0,0,0,Bureaucratic_Code_5,2015-04-20,None,...,2016-02-29,2016-02-01,Q1,2016,0,JPY,6200.0,JPY,470400.0,0
11,24357,Japan,None,1,0,0,0,Bureaucratic_Code_5,2015-04-20,None,...,2016-02-29,2016-02-01,Q1,2016,0,JPY,140000.0,JPY,470400.0,0
12,24358,Japan,None,1,0,0,0,Bureaucratic_Code_5,2015-04-20,None,...,2016-02-29,2016-02-01,Q1,2016,0,JPY,304200.0,JPY,470400.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16940,20827,Americas,NE America,1,0,0,0,Bureaucratic_Code_5,2014-06-16,None,...,2016-12-30,2016-10-01,Q4,2016,20,USD,10751580.0,USD,21332500.0,0
16941,20830,Americas,NE America,1,0,0,0,Bureaucratic_Code_5,2014-06-16,None,...,2016-12-30,2016-10-01,Q4,2016,20,USD,10580920.0,USD,21332500.0,0
16942,8781,EMEA,Austria,1,1,1,1,Bureaucratic_Code_4,2016-01-15,Source_7,...,2016-03-25,2016-03-01,Q1,2016,0,EUR,103350.0,EUR,299715.0,1
16943,8786,EMEA,Austria,1,1,1,1,Bureaucratic_Code_4,2016-01-15,Source_7,...,2016-04-08,2016-04-01,Q2,2016,0,EUR,93015.0,EUR,299715.0,1
16944,8792,EMEA,Austria,1,1,1,1,Bureaucratic_Code_4,2016-01-15,Source_7,...,2016-03-31,2016-03-01,Q1,2016,0,EUR,103350.0,EUR,299715.0,1

In [9]:
print('Columnas que cambian de valor dependiendo de la Id en train')

size = df.Opportunity_ID.unique().size
diff_columns = []
for column in df.columns:
    if (df.groupby('Opportunity_ID')[column].value_counts().count() != size):
        diff_columns.append(column)
diff_columns

Columnas que cambian de valor dependiendo de la Id en train

['ID',
 'Product_Family',
 'Product_Name',
 'ASP',
 'ASP_(converted)',
 'Planned_Delivery_Start_Date',
 'Planned_Delivery_End_Date',
 'Month',
 'Delivery_Quarter',
 'Delivery_Year',
 'TRF',
 'Total_Amount']

In [10]:
print('Columnas que cambian de valor dependiendo de la Id en test')

size = test.Opportunity_ID.unique().size
diff_columns = []
for column in test.columns:
    if (test.groupby('Opportunity_ID')[column].value_counts().count() != size):
        diff_columns.append(column)
diff_columns

Columnas que cambian de valor dependiendo de la Id en test

['ID',
 'Product_Family',
 'Product_Name',
 'ASP',
 'ASP_(converted)',
 'Planned_Delivery_Start_Date',
 'Planned_Delivery_End_Date',
 'Month',
 'Delivery_Quarter',
 'Delivery_Year',
 'TRF',
 'Total_Amount']

In [11]:
train.columns

Index(['ID', 'Region', 'Territory', 'Pricing, Delivery_Terms_Quote_Appr',
       'Pricing, Delivery_Terms_Approved', 'Bureaucratic_Code_0_Approval',
       'Bureaucratic_Code_0_Approved', 'Bureaucratic_Code',
       'Account_Created_Date', 'Source ', 'Billing_Country', 'Account_Name',
       'Opportunity_Name', 'Opportunity_ID', 'Sales_Contract_No',
       'Account_Owner', 'Opportunity_Owner', 'Account_Type',
       'Opportunity_Type', 'Quote_Type', 'Delivery_Terms',
       'Opportunity_Created_Date', 'Brand', 'Product_Type', 'Size',
       'Product_Category_B', 'Price', 'Currency', 'Quote_Expiry_Date',
       'Last_Modified_Date', 'Last_Modified_By', 'Product_Family',
       'Product_Name', 'ASP_Currency', 'ASP', 'ASP_(converted)',
       'Planned_Delivery_Start_Date', 'Planned_Delivery_End_Date', 'Month',
       'Delivery_Quarter', 'Delivery_Year', 'TRF', 'Total_Amount_Currency',
       'Total_Amount', 'Total_Taxable_Amount_Currency', 'Total_Taxable_Amount',
       'Stage'],
      dtype='object')

In [12]:
grouped_train = train.groupby('Opportunity_ID').agg(\
    {'Region':'first',
     'Territory':'first',
     'Pricing, Delivery_Terms_Quote_Appr':'first',
     'Pricing, Delivery_Terms_Approved':'first',
     'Bureaucratic_Code_0_Approval':'first',
     'Bureaucratic_Code_0_Approved':'first',
     'Bureaucratic_Code':'first',
     'Account_Created_Date':'first',
     'Source ':'first',
     'Billing_Country':'first',
     'Account_Name':'first',
     'Opportunity_Name':'first',
     'Sales_Contract_No':'first',
     'Account_Owner':'first',
     'Opportunity_Owner':'first',
     'Account_Type':'first',
     'Opportunity_Type':'first',
     'Quote_Type':'first',
     'Delivery_Terms':'first',
     'Opportunity_Created_Date':'first',
     'Brand':'first',
     'Product_Type':'first',
     'Size':'first',
     'Product_Category_B':'first',
     'Price':'first',
     'Currency':'first',
     'Quote_Expiry_Date':'first',
     'Last_Modified_Date':'first',
     'Last_Modified_By':'first',
     'ASP_Currency':'first',
     'Total_Amount_Currency':'first',
     'Total_Taxable_Amount_Currency':'first',
     'Total_Taxable_Amount':'first',
     'Stage':'first'}).reset_index()
grouped_train

,Opportunity_ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Bureaucratic_Code,Account_Created_Date,Source,...,Price,Currency,Quote_Expiry_Date,Last_Modified_Date,Last_Modified_By,ASP_Currency,Total_Amount_Currency,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage
0,0,EMEA,None,1,1,1,1,Bureaucratic_Code_4,2015-06-16,None,...,None,None,1/30/2016,2016-06-13,Person_Name_18,EUR,EUR,EUR,5272800.0,0
1,1,EMEA,None,0,0,0,0,Bureaucratic_Code_4,2015-06-16,None,...,None,None,1/20/2016,2016-01-15,Person_Name_20,EUR,EUR,EUR,48230.0,1
2,2,Americas,NW America,0,0,0,0,Bureaucratic_Code_4,2015-04-21,Source_7,...,None,None,9/30/2016,2016-09-29,Person_Name_8,USD,USD,USD,83865.6,1
3,3,Americas,NW America,1,0,1,0,Bureaucratic_Code_5,2013-07-27,Source_11,...,0.42,USD,NaT,2018-03-27,Person_Name_8,USD,USD,USD,7421881.5,0
4,4,Americas,NW America,1,0,1,0,Bureaucratic_Code_5,2013-07-27,Source_11,...,0.42,USD,6/2/2017,2018-03-27,Person_Name_8,USD,USD,USD,13357192.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9786,12799,EMEA,Norway,1,1,0,0,Bureaucratic_Code_4,2013-07-27,Source_9,...,None,None,4/3/2016,2016-04-01,Person_Name_13,EUR,EUR,EUR,401700.0,1
9787,12800,Americas,NE America,1,0,0,0,Bureaucratic_Code_5,2014-06-16,None,...,None,None,1/15/2016,2016-10-10,Person_Name_13,USD,USD,USD,21332500.0,0
9788,12801,EMEA,Austria,1,1,1,1,Bureaucratic_Code_4,2016-01-15,Source_7,...,None,None,NaT,2016-01-19,Person_Name_13,EUR,EUR,EUR,299715.0,1
9789,12802,Americas,NE America,1,1,1,1,Bureaucratic_Code_4,2015-10-20,None,...,None,None,2/29/2016,2016-01-22,Person_Name_3,USD,USD,USD,0.0,0
9790,12803,Americas,NE America,1,1,1,1,Bureaucratic_Code_4,2015-09-03,None,...,None,None,1/6/2016,2016-09-28,Person_Name_3,USD,USD,USD,0.0,0

In [13]:
grouped_test = test.groupby('Opportunity_ID').agg(\
    {'Region':'first',
     'Territory':'first',
     'Pricing, Delivery_Terms_Quote_Appr':'first',
     'Pricing, Delivery_Terms_Approved':'first',
     'Bureaucratic_Code_0_Approval':'first',
     'Bureaucratic_Code_0_Approved':'first',
     'Bureaucratic_Code':'first',
     'Account_Created_Date':'first',
     'Source ':'first',
     'Billing_Country':'first',
     'Account_Name':'first',
     'Opportunity_Name':'first',
     'Sales_Contract_No':'first',
     'Account_Owner':'first',
     'Opportunity_Owner':'first',
     'Account_Type':'first',
     'Opportunity_Type':'first',
     'Quote_Type':'first',
     'Delivery_Terms':'first',
     'Opportunity_Created_Date':'first',
     'Brand':'first',
     'Product_Type':'first',
     'Size':'first',
     'Product_Category_B':'first',
     'Price':'first',
     'Currency':'first',
     'Quote_Expiry_Date':'first',
     'Last_Modified_Date':'first',
     'Last_Modified_By':'first',
     'ASP_Currency':'first',
     'Total_Amount_Currency':'first',
     'Total_Taxable_Amount_Currency':'first',
     'Total_Taxable_Amount':'first'}).reset_index()
grouped_test

,Opportunity_ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Bureaucratic_Code,Account_Created_Date,Source,...,Product_Category_B,Price,Currency,Quote_Expiry_Date,Last_Modified_Date,Last_Modified_By,ASP_Currency,Total_Amount_Currency,Total_Taxable_Amount_Currency,Total_Taxable_Amount
0,10689,EMEA,Germany,1,1,1,1,Bureaucratic_Code_4,2017-07-05,Source_7,...,None,None,None,4/30/2019,2019-04-12,Person_Name_13,EUR,EUR,EUR,367419.0
1,10690,EMEA,Germany,1,1,1,1,Bureaucratic_Code_4,2017-07-05,Source_7,...,None,None,None,4/30/2019,2019-04-25,Person_Name_13,EUR,EUR,EUR,757783.5
2,10691,Americas,NE America,1,1,0,0,Bureaucratic_Code_4,2019-02-16,Source_9,...,None,None,None,NaT,2019-04-16,Person_Name_9,USD,USD,USD,21037.5
3,10692,Americas,NW America,1,1,1,0,Bureaucratic_Code_2,2013-07-27,Source_11,...,None,None,None,NaT,2019-04-16,Person_Name_8,USD,USD,USD,2169106.5
4,10693,Americas,NW America,0,0,0,0,Bureaucratic_Code_4,2018-08-30,Source_9,...,None,None,None,5/12/2019,2019-04-13,Person_Name_64,USD,USD,USD,5752.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,12364,EMEA,KSA,1,1,0,0,Bureaucratic_Code_4,2017-06-12,Source_3,...,None,None,None,5/24/2019,2019-04-26,Person_Name_13,USD,USD,USD,147750.0
1563,12365,Americas,SE America,1,1,0,0,Bureaucratic_Code_4,2018-06-08,None,...,None,None,None,5/24/2019,2019-04-27,Person_Name_38,USD,USD,USD,45054.9
1564,12366,Americas,SE America,1,1,1,1,Bureaucratic_Code_4,2018-06-08,None,...,None,None,None,5/24/2019,2019-04-27,Person_Name_38,USD,USD,USD,100122.0
1565,12367,Americas,NE America,1,1,0,0,Bureaucratic_Code_4,2018-08-29,None,...,None,None,None,5/26/2019,2019-04-26,Person_Name_9,USD,USD,USD,143220.0
1566,12368,EMEA,Belgium,1,0,0,0,Bureaucratic_Code_5,2016-03-03,None,...,None,None,None,2/8/2019,2019-04-27,Person_Name_16,EUR,EUR,EUR,871020.8

In [14]:
X = pd.DataFrame({'Opportunity_ID':grouped_train.Opportunity_ID})
y = grouped_train.Stage

In [15]:
serie_losses = pd.Series(dtype='float64')
serie_losses

Series([], dtype: float64)

In [16]:
# Calculo el error

def calculateErrorXgb(X, y, column_name):
    X_train, X_test, y_train, y_test = \
        train_test_split(X, y, test_size=0.15, random_state=123)

    xgb_reg = xgb.XGBRegressor(objective = 'binary:logistic', \
                               eval_metric='logloss')
    xgb_reg.fit(X_train, y_train)
    preds = xgb_reg.predict(X_test)
    error = log_loss(y_test, preds)
    serie_losses[column_name] = error
    print("Log Loss: %f" % (error))

In [17]:
logistic_losses = pd.Series(dtype='float64')
logistic_losses

Series([], dtype: float64)

In [18]:
# Calculo el error

def calculateErrorLogistic(X, y, column_name):
    X_train, X_test, y_train, y_test = \
        train_test_split(X, y, test_size=0.15, random_state=123)

    model = LogisticRegression(random_state=456)
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    error = log_loss(y_test, preds)
    logistic_losses[column_name] = error
    print("Log Loss: %f" % (error))

### Veo por cada feature el error que genera

In [19]:
# Veo si las oportunidades que no necesitaban aprobacion por alguna razon se las aprobo
print('Cantidad de oportunidades aprobadas sin necesidad:\n')
print('Pricing, Delivery_Terms_Quote_Appr:')
print(train[(train['Pricing, Delivery_Terms_Quote_Appr'] == 0)\
      & (train['Pricing, Delivery_Terms_Approved'] == 1)].size)

print('Bureaucratic_Code_0_Approval:')
print(train[(train['Bureaucratic_Code_0_Approval'] == 0)\
      & (train['Bureaucratic_Code_0_Approved'] == 1)].size)

Cantidad de oportunidades aprobadas sin necesidad:

Pricing, Delivery_Terms_Quote_Appr:
0
Bureaucratic_Code_0_Approval:
0

Todos los registros que no necesitaron aprobacion no se aprobaron

In [20]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

#### Columnas Pricing, Delivery_Terms_Quote_Appr y Pricing, Delivery_Terms_Quote_Appr

In [21]:
z = pd.concat([df,grouped_train['Pricing, Delivery_Terms_Quote_Appr']], \
              axis = 1, sort=False)

In [22]:
z

      Pricing, Delivery_Terms_Quote_Appr
0                                      1
1                                      0
2                                      0
3                                      1
4                                      1
...                                  ...
9786                                   1
9787                                   1
9788                                   1
9789                                   1
9790                                   1

[9791 rows x 1 columns]

In [23]:
calculateErrorXgb(z, y, 'Pricing, Delivery_Terms_Quote_Appr')

Log Loss: 0.685320

In [24]:
calculateErrorLogistic(z, y, 'Pricing, Delivery_Terms_Quote_Appr')

Log Loss: 15.541347

In [25]:
z = pd.concat([df,grouped_train['Pricing, Delivery_Terms_Approved']], \
              axis = 1, sort=False)

In [26]:
calculateErrorXgb(z, y, 'Pricing, Delivery_Terms_Approved')

Log Loss: 0.685603

In [27]:
calculateErrorLogistic(z, y, 'Pricing, Delivery_Terms_Approved')

Log Loss: 15.094744

In [28]:
pricing_ok = grouped_train.agg(lambda x: int(x['Pricing, Delivery_Terms_Quote_Appr'] \
              == x['Pricing, Delivery_Terms_Approved']), axis = 1)
pricing_ok

0       1
1       1
2       1
3       0
4       0
       ..
9786    1
9787    0
9788    1
9789    1
9790    1
Length: 9791, dtype: int64

In [31]:
# Binaria, es 1 si se necesitaba aprobacin y se aprob o si no la necesitaba
# Es 0 si necesitaba aprobacion y no se aprobo

z = pd.concat([df,pricing_ok], axis = 1, sort=False)

In [32]:
calculateErrorXgb(z, y, 'pricing_aprobada')

Log Loss: 0.651272

In [33]:
calculateErrorLogistic(z, y, 'pricing_aprobada')

Log Loss: 13.096317

#### Columna Bureaucratic_Code

In [34]:
z = pd.concat([df,grouped_train['Bureaucratic_Code_0_Approval']], \
              axis = 1, sort=False)
z.Bureaucratic_Code_0_Approval = z.Bureaucratic_Code_0_Approval.astype('int8')

In [35]:
calculateErrorXgb(z, y, 'Bureaucratic_Code_0_Approval')

Log Loss: 0.663914

In [36]:
calculateErrorLogistic(z, y, 'Bureaucratic_Code_0_Approval')

Log Loss: 13.049180

In [37]:
z = pd.concat([df,grouped_train['Bureaucratic_Code_0_Approved']], \
              axis = 1, sort=False)
z.Bureaucratic_Code_0_Approved = z.Bureaucratic_Code_0_Approved.astype('int8')

In [38]:
calculateErrorXgb(z, y, 'Bureaucratic_Code_0_Approved')

Log Loss: 0.691748

In [39]:
calculateErrorLogistic(z, y, 'Bureaucratic_Code_0_Approved')

Log Loss: 16.223365

In [40]:
bureaucratic_ok = grouped_train.agg(lambda x: int(x['Bureaucratic_Code_0_Approval'] \
              == x['Bureaucratic_Code_0_Approved']), axis = 1)
bureaucratic_ok

0       1
1       1
2       1
3       0
4       0
       ..
9786    1
9787    1
9788    1
9789    1
9790    1
Length: 9791, dtype: int64

In [41]:
# Binaria, es 1 si se necesitaba aprobacin y se aprob o si no la necesitaba
# Si necesitaba aprobacion y no se aprobo es 0

z = pd.concat([df,bureaucratic_ok], \
              axis = 1, sort=False)

In [42]:
calculateErrorXgb(z, y, 'bureaucratic_ok')

Log Loss: 0.657980

In [43]:
calculateErrorLogistic(z, y, 'bureaucratic_ok')

Log Loss: 13.825211

Me fijo si hay diferencia entre transformar la columna bureaucratic code con one-hot-encoder o 
con ordinal-encoder

In [44]:
train.Bureaucratic_Code.value_counts()

Bureaucratic_Code_4    12544
Bureaucratic_Code_5     3782
Bureaucratic_Code_1      261
Bureaucratic_Code_2      242
Bureaucratic_Code_0       51
Bureaucratic_Code_3        2
Bureaucratic_Code_6        1
Name: Bureaucratic_Code, dtype: int64

In [45]:
one_hot_enc_train = pd.get_dummies(grouped_train.Bureaucratic_Code)
one_hot_enc_test = pd.get_dummies(grouped_test.Bureaucratic_Code)

one_hot_enc_train, one_hot_enc_test = one_hot_enc_train\
    .align(one_hot_enc_test, join='left', axis=1)

z = pd.concat([df,one_hot_enc_train], \
              axis = 1, sort=False)

In [46]:
calculateErrorXgb(z, y, 'one_hot_bureaucratic_code')

Log Loss: 0.648564

In [47]:
calculateErrorLogistic(z, y, 'one_hot_bureaucratic_code')

Log Loss: 12.837672

In [72]:
grouped_train.Bureaucratic_Code.map(lambda x: x[18:19]).astype('int8')

0       4
1       4
2       4
3       5
4       5
       ..
9786    4
9787    5
9788    4
9789    4
9790    4
Name: Bureaucratic_Code, Length: 9791, dtype: int8

In [73]:
z = pd.concat([df,grouped_train.Bureaucratic_Code.map(lambda x: x[18:19]).astype('int8')],\
              axis = 1, sort=False)

In [74]:
calculateErrorXgb(z, y, 'ordinal_bureaucratic_code')

Log Loss: 0.648941

In [75]:
calculateErrorLogistic(z, y, 'ordinal_bureaucratic_code')

Log Loss: 13.119829

#### Paso Account type a one hot encoder

In [108]:
grouped_train['Account_Type'].value_counts()

Account_Type_2    4676
Account_Type_0    3418
Account_Type_5    1445
Account_Type_1     124
None               103
Account_Type_6      17
Account_Type_4       8
Name: Account_Type, dtype: int64

In [109]:
one_hot_enc_train = pd.get_dummies(grouped_train.Account_Type)
one_hot_enc_test = pd.get_dummies(grouped_test.Account_Type)

one_hot_enc_train, one_hot_enc_test = one_hot_enc_train\
    .align(one_hot_enc_test, join='left', axis=1)

z = pd.concat([df,one_hot_enc_train], \
              axis = 1, sort=False)

In [110]:
calculateErrorXgb(z, y, 'one_hot_account_type')

Log Loss: 0.646294

In [111]:
calculateErrorLogistic(z, y, 'one_hot_account_type')

Log Loss: 13.378278

In [104]:
grouped_train.Account_Type.mode()

0    Account_Type_2
dtype: object

In [103]:
grouped_train.replace({'None':'Account_Type_2'}).Account_Type\
    .map(lambda x: x[13:14]).value_counts()#.astype('int8')

2    4779
0    3418
5    1445
1     124
6      17
4       8
Name: Account_Type, dtype: int64

In [105]:
u = grouped_train.replace({'None':'Account_Type_2'}).Account_Type\
    .map(lambda x: x[13:14]).astype('int8')
z = pd.concat([df,u], axis = 1, sort=False)

In [106]:
calculateErrorXgb(z, y, 'ordinal_account_type')

Log Loss: 0.649029

In [107]:
calculateErrorLogistic(z, y, 'ordinal_account_type')

Log Loss: 13.683939

Feature: Cantidad de ids por oportunidad

In [112]:
train.groupby('Opportunity_ID').ID.count().value_counts()

1     6882
2     1585
3      376
6      268
5      257
4      193
7      103
8       59
9       20
10      18
16       6
12       5
11       5
14       4
13       4
26       2
36       2
18       1
24       1
Name: ID, dtype: int64

In [113]:
c = train.groupby('Opportunity_ID').ID.count()
c

Opportunity_ID
0        1
1        1
2        1
3        1
4        1
        ..
12799    1
12800    2
12801    3
12802    1
12803    1
Name: ID, Length: 9791, dtype: int64

In [114]:
group1 = (c == 1).astype('int8')
group1

Opportunity_ID
0        1
1        1
2        1
3        1
4        1
        ..
12799    1
12800    0
12801    0
12802    1
12803    1
Name: ID, Length: 9791, dtype: int8

In [115]:
group2 = (c == 2).astype('int8')
group2

Opportunity_ID
0        0
1        0
2        0
3        0
4        0
        ..
12799    0
12800    1
12801    0
12802    0
12803    0
Name: ID, Length: 9791, dtype: int8

In [116]:
group3 = (c >= 3).astype('int8')
group3

Opportunity_ID
0        0
1        0
2        0
3        0
4        0
        ..
12799    0
12800    0
12801    1
12802    0
12803    0
Name: ID, Length: 9791, dtype: int8

In [117]:
z = df.copy()
z['G1'] = group1
z['G2'] = group2
z['G3'] = group3

In [118]:
calculateErrorXgb(z, y, 'count_id_3_groups')

Log Loss: 0.684856

In [119]:
calculateErrorLogistic(z, y, 'count_id_3_groups')

Log Loss: 15.564879

In [120]:
group1 = (c != 1).astype('int8')
group1

Opportunity_ID
0        0
1        0
2        0
3        0
4        0
        ..
12799    0
12800    1
12801    1
12802    0
12803    0
Name: ID, Length: 9791, dtype: int8

In [121]:
# Es 0 si hay solo un registro por oportunidad, 0 sino
z = df.copy()
z['G1'] = group1

In [122]:
calculateErrorXgb(z, y, 'count_id_1_groups')

Log Loss: 0.686573

In [123]:
calculateErrorLogistic(z, y, 'count_id_1_groups')

Log Loss: 15.564879

Feature: menor y/o mayor anio de creacion de oportunidad

In [124]:
train.groupby('Opportunity_ID').Delivery_Year.min()

Opportunity_ID
0        2016
1        2016
2        2016
3        2018
4        2018
         ...
12799    2016
12800    2016
12801    2016
12802    2016
12803    2016
Name: Delivery_Year, Length: 9791, dtype: int16

In [125]:
min_year = train.groupby('Opportunity_ID').Delivery_Year.min().reset_index()

z = pd.concat([df, min_year.Delivery_Year], \
              axis = 1, sort=False)

In [126]:
calculateErrorXgb(z, y, 'min_year')

Log Loss: 0.686074

In [127]:
calculateErrorLogistic(z, y, 'min_year')

Log Loss: 16.999396

Feature: cantidad de dias activos

In [128]:
# Calculo la cantidad de dias activos que tuvo cada oportunidad
days = grouped_train['Last_Modified_Date'] - grouped_train['Opportunity_Created_Date']

In [129]:
days.dt.days

0       189
1        39
2       296
3       840
4       840
       ...
9786    119
9787    311
9788     46
9789     48
9790    298
Length: 9791, dtype: int64

In [130]:
z = df.copy()
z['days_elapsed'] = days.dt.days

In [131]:
calculateErrorXgb(z, y, 'days_elapsed')

Log Loss: 0.628464

In [132]:
calculateErrorLogistic(z, y, 'days_elapsed')

Log Loss: 15.541495

Feature: dia de la semana de su creacion

In [133]:
week_day = grouped_train['Opportunity_Created_Date'].dt.weekday
week_day

0       0
1       0
2       1
3       1
4       1
       ..
9786    4
9787    4
9788    4
9789    5
9790    5
Name: Opportunity_Created_Date, Length: 9791, dtype: int64

In [134]:
z = df.copy()
z['week_day'] = week_day

In [135]:
calculateErrorXgb(z, y, 'week_day')

Log Loss: 0.691313

In [136]:
calculateErrorLogistic(z, y, 'week_day')

Log Loss: 16.905328

Feature: Delivery quarter por numero o por one hot encoder

In [137]:
train.groupby('Opportunity_ID').Delivery_Quarter.first().agg(lambda x: x[1:2]).astype('int8')

Opportunity_ID
0        2
1        1
2        1
3        1
4        1
        ..
12799    2
12800    4
12801    1
12802    2
12803    3
Name: Delivery_Quarter, Length: 9791, dtype: int8

In [138]:
first_quarter = train.groupby('Opportunity_ID').Delivery_Quarter.first()\
                     .agg(lambda x: x[1:2]).astype('int8')

z = pd.concat([df, first_quarter], axis = 1, sort=False)

In [139]:
calculateErrorXgb(z, y, 'Delivery_Quarter')

Log Loss: 0.692001

In [140]:
calculateErrorLogistic(z, y, 'Delivery_Quarter')

Log Loss: 16.811206

In [141]:
one_hot_enc_train = pd.get_dummies(first_quarter)
one_hot_enc_test = pd.get_dummies(first_quarter)

one_hot_enc_train, one_hot_enc_test = one_hot_enc_train\
    .align(one_hot_enc_test, join='left', axis=1)

z = pd.concat([df,one_hot_enc_train], axis = 1, sort=False)

In [142]:
calculateErrorXgb(z, y, 'one_hot_Delivery_Quarter')

Log Loss: 0.692001

In [143]:
calculateErrorLogistic(z, y, 'one_hot_Delivery_Quarter')

Log Loss: 16.505444

In [144]:
z = df.copy()
col = 'first_quarter'

z[col+'_sin']=np.sin((2*np.pi*first_quarter)/max(first_quarter))
z[col+'_cos']=np.cos((2*np.pi*first_quarter)/max(first_quarter))

z

                first_quarter_sin  first_quarter_cos
Opportunity_ID
0                    1.224647e-16      -1.000000e+00
1                    1.000000e+00       6.123234e-17
2                    1.000000e+00       6.123234e-17
3                    1.000000e+00       6.123234e-17
4                    1.000000e+00       6.123234e-17
...                           ...                ...
12799                1.224647e-16      -1.000000e+00
12800               -2.449294e-16       1.000000e+00
12801                1.000000e+00       6.123234e-17
12802                1.224647e-16      -1.000000e+00
12803               -1.000000e+00      -1.836970e-16

[9791 rows x 2 columns]

In [145]:
calculateErrorXgb(z, y, 'Delivery_Quarter_cyclic')

Log Loss: 0.692001

In [146]:
calculateErrorLogistic(z, y, 'Delivery_Quarter_cyclic')

Log Loss: 17.163886

Feature: de la columna Month el menor mes y anio

In [147]:
train.Month.dt.month

0        5
1        1
2        1
3        2
4        2
        ..
16942    3
16943    4
16944    3
16945    4
16946    7
Name: Month, Length: 16883, dtype: int64

In [148]:
train['month'] = train.Month.dt.month
train['year'] = train.Month.dt.year

In [149]:
u = train.groupby('Opportunity_ID').agg({'month':'min', 'year':'min'}).reset_index()
u

      Opportunity_ID  month  year
0                  0      5  2016
1                  1      1  2016
2                  2      1  2016
3                  3      2  2018
4                  4      2  2018
...              ...    ...   ...
9786           12799      4  2016
9787           12800     10  2016
9788           12801      3  2016
9789           12802      4  2016
9790           12803      7  2016

[9791 rows x 3 columns]

In [150]:
calculateErrorXgb(u, y, 'Month: month and year')

Log Loss: 0.522921

In [151]:
calculateErrorLogistic(z, y, 'Month: month and year')

Log Loss: 17.163886

Feature: cantidad de nulos por columna

In [153]:
# Me fijo cuantos null hay por columnas
print('Cantidad de nulos por columna')
grouped_train.replace({'None':np.NaN}).isna().sum()

Cantidad de nulos por columna

Opportunity_ID                           0
Region                                   0
Territory                             1851
Pricing, Delivery_Terms_Quote_Appr       0
Pricing, Delivery_Terms_Approved         0
Bureaucratic_Code_0_Approval             0
Bureaucratic_Code_0_Approved             0
Bureaucratic_Code                        0
Account_Created_Date                     0
Source                                4874
Billing_Country                         26
Account_Name                             0
Opportunity_Name                         0
Sales_Contract_No                     4525
Account_Owner                            0
Opportunity_Owner                        0
Account_Type                           103
Opportunity_Type                         0
Quote_Type                               0
Delivery_Terms                           0
Opportunity_Created_Date                 0
Brand                                 9122
Product_Type                          9137
Size                                  9153
Product_Category_B                    9135
Price                                 9163
Currency                              9214
Quote_Expiry_Date                        0
Last_Modified_Date                       0
Last_Modified_By                         0
ASP_Currency                             0
Total_Amount_Currency                    0
Total_Taxable_Amount_Currency            0
Total_Taxable_Amount                     0
Stage                                    0
dtype: int64

In [154]:
#z = df.copy()
#z['has_source'] = (grouped_train['Source '] == 'None').astype('int8')
#z['has_brand'] = (grouped_train['Brand'] == 'None').astype('int8')
#z['has_product_Type'] = (grouped_train['Product_Type'] == 'None').astype('int8')
#z['has_size'] = (grouped_train['Size'] == 'None').astype('int8')
#z['has_product_Category_B'] = (grouped_train['Product_Category_B'] == 'None').astype('int8')
#z['has_price'] = (grouped_train['Price'] == 'None').astype('int8')
#z['has_currency'] = (grouped_train['Currency'] == 'None').astype('int8')
#z

In [155]:
columnas = ['Source ', 'Sales_Contract_No', 'Brand', 'Product_Type', \
            'Size', 'Product_Category_B', 'Price', 'Currency']

# Paso las columnas con muchos nulos a binarias
for col in columnas:
    z = df.copy()
    col_name = 'has_' + str(col)
    z[col_name] = (grouped_train[col] == 'None').astype('int8')
    print('\n' + col_name + ' error xgboost')
    calculateErrorXgb(z, y, col_name)
    print(col_name + ' error logistic')
    calculateErrorLogistic(z, y, col_name)

has_Source  error xgboost
Log Loss: 0.693382
has_Source  error logistic
Log Loss: 16.999396

has_Sales_Contract_No error xgboost
Log Loss: 0.181198
has_Sales_Contract_No error logistic
Log Loss: 1.575315

has_Brand error xgboost
Log Loss: 0.637611
has_Brand error logistic
Log Loss: 14.436555

has_Product_Type error xgboost
Log Loss: 0.640351
has_Product_Type error logistic
Log Loss: 14.554117

has_Size error xgboost
Log Loss: 0.641972
has_Size error logistic
Log Loss: 14.624654

has_Product_Category_B error xgboost
Log Loss: 0.639801
has_Product_Category_B error logistic
Log Loss: 14.530604

has_Price error xgboost
Log Loss: 0.643052
has_Price error logistic
Log Loss: 14.671678

has_Currency error xgboost
Log Loss: 0.647882
has_Currency error logistic
Log Loss: 14.883289

Me fijo cuales son las columnas categoricas

In [156]:
categorical_cols = ['Region', 'Territory', 'Bureaucratic_Code', 'Billing_Country', \
                    'Account_Name', 'Opportunity_Name', 'Account_Owner', \
                    'Opportunity_Owner', 'Account_Type', 'Opportunity_Type', \
                    'Quote_Type', 'Delivery_Terms', 'Last_Modified_By', 'Product_Family', \
                    'Product_Name', 'ASP_Currency', 'Delivery_Quarter', \
                    'Total_Taxable_Amount_Currency', 'Total_Taxable_Amount' ]

for col in categorical_cols:
    print('\nColumna', col, ': ')
    print('\tValores unicos: ', train[col].nunique())
print()

Columna Region :
	Valores unicos:  5

Columna Territory :
	Valores unicos:  75

Columna Bureaucratic_Code :
	Valores unicos:  7

Columna Billing_Country :
	Valores unicos:  79

Columna Account_Name :
	Valores unicos:  1620

Columna Opportunity_Name :
	Valores unicos:  9791

Columna Account_Owner :
	Valores unicos:  48

Columna Opportunity_Owner :
	Valores unicos:  53

Columna Account_Type :
	Valores unicos:  7

Columna Opportunity_Type :
	Valores unicos:  25

Columna Quote_Type :
	Valores unicos:  2

Columna Delivery_Terms :
	Valores unicos:  9

Columna Last_Modified_By :
	Valores unicos:  53

Columna Product_Family :
	Valores unicos:  225

Columna Product_Name :
	Valores unicos:  446

Columna ASP_Currency :
	Valores unicos:  5

Columna Delivery_Quarter :
	Valores unicos:  4

Columna Total_Taxable_Amount_Currency :
	Valores unicos:  5

Columna Total_Taxable_Amount :
	Valores unicos:  7052

In [123]:
for col in categorical_cols:
    print('\n' + col)
    print(train[col].value_counts())
print()

Region
Japan          4869
EMEA           4660
Americas       3933
APAC           3251
Middle East     170
Name: Region, dtype: int64

Territory
None               4981
Germany            1682
NW America         1560
Australia          1202
India               807
                   ...
Saudi Arabia          1
Solomon Islands       1
Slovenia              1
Czech Republic        1
Lebanon               0
Name: Territory, Length: 76, dtype: int64

Bureaucratic_Code
Bureaucratic_Code_4    12544
Bureaucratic_Code_5     3782
Bureaucratic_Code_1      261
Bureaucratic_Code_2      242
Bureaucratic_Code_0       51
Bureaucratic_Code_3        2
Bureaucratic_Code_6        1
Name: Bureaucratic_Code, dtype: int64

Billing_Country
Japan            4856
United States    3790
Germany          1977
Australia        1165
India             671
                 ...
Kenya               1
Chile               1
Colombia            1
Peru                1
Oman                0
Name: Billing_Country, Length: 80, dtype: int64

Account_Name
Account_Name_1888    2122
Account_Name_1836     886
Account_Name_25       752
Account_Name_1991     586
Account_Name_1642     397
                     ...
Account_Name_1221       1
Account_Name_9          1
Account_Name_2082       1
Account_Name_1845       1
Account_Name_472        1
Name: Account_Name, Length: 1620, dtype: int64

Opportunity_Name
Opportunity_Name_9795     36
Opportunity_Name_5036     36
Opportunity_Name_11461    26
Opportunity_Name_12179    26
Opportunity_Name_6835     24
                          ..
Opportunity_Name_1433      1
Opportunity_Name_6529      1
Opportunity_Name_11152     1
Opportunity_Name_10343     1
Opportunity_Name_4091      1
Name: Opportunity_Name, Length: 9791, dtype: int64

Account_Owner
Person_Name_50    3722
Person_Name_13    1327
Person_Name_8     1286
Person_Name_43    1235
Person_Name_18    1093
Person_Name_3      875
Person_Name_32     681
Person_Name_4      662
Person_Name_65     631
Person_Name_64     569
Person_Name_16     439
Person_Name_46     381
Person_Name_45     357
Person_Name_2      333
Person_Name_38     322
Person_Name_42     304
Person_Name_66     254
Person_Name_60     226
Person_Name_59     201
Person_Name_49     200
Person_Name_62     179
Person_Name_54     178
Person_Name_52     172
Person_Name_21     166
Person_Name_5      152
Person_Name_63     135
Person_Name_55     129
Person_Name_51     108
Person_Name_39     104
Person_Name_33      86
Person_Name_14      74
Person_Name_61      71
Person_Name_44      57
Person_Name_41      51
Person_Name_9       50
Person_Name_58      14
Person_Name_26      12
Person_Name_11      10
Person_Name_29       8
Person_Name_25       7
Person_Name_36       7
Person_Name_23       4
Person_Name_34       3
Person_Name_35       2
Person_Name_17       2
Person_Name_47       2
Person_Name_20       1
Person_Name_10       1
Name: Account_Owner, dtype: int64

Opportunity_Owner
Person_Name_50    3773
Person_Name_8     1422
Person_Name_13    1253
Person_Name_18     982
Person_Name_3      832
Person_Name_43     832
Person_Name_32     685
Person_Name_4      685
Person_Name_19     615
Person_Name_64     508
Person_Name_16     446
Person_Name_23     422
Person_Name_46     329
Person_Name_65     322
Person_Name_49     285
Person_Name_48     256
Person_Name_38     250
Person_Name_44     240
Person_Name_66     239
Person_Name_39     211
Person_Name_60     206
Person_Name_62     174
Person_Name_52     173
Person_Name_54     171
Person_Name_5      155
Person_Name_59     134
Person_Name_45     128
Person_Name_2      118
Person_Name_41     113
Person_Name_51     111
Person_Name_33      87
Person_Name_55      83
Person_Name_14      82
Person_Name_11      77
Person_Name_30      69
Person_Name_63      64
Person_Name_40      50
Person_Name_25      49
Person_Name_20      49
Person_Name_22      43
Person_Name_26      33
Person_Name_12      23
Person_Name_37      21
Person_Name_42      19
Person_Name_34      14
Person_Name_29      13
Person_Name_61      11
Person_Name_36       8
Person_Name_58       7
Person_Name_56       6
Person_Name_35       2
Person_Name_10       2
Person_Name_0        1
Name: Opportunity_Owner, dtype: int64

Account_Type
Account_Type_2    8786
Account_Type_0    5866
Account_Type_5    1928
Account_Type_1     164
None               112
Account_Type_6      17
Account_Type_4      10
Name: Account_Type, dtype: int64

Opportunity_Type
Opportunity_Type_1     6774
Opportunity_Type_7     5760
Opportunity_Type_19    1889
Opportunity_Type_8     1458
Opportunity_Type_12     279
Opportunity_Type_3      274
Opportunity_Type_20     175
Opportunity_Type_2       69
Opportunity_Type_4       50
Opportunity_Type_10      34
Opportunity_Type_9       23
Opportunity_Type_14      15
Opportunity_Type_5       14
Opportunity_Type_18      11
Opportunity_Type_15       9
Opportunity_Type_22       9
Opportunity_Type_0        8
Opportunity_Type_17       8
Opportunity_Type_21       5
Opportunity_Type_23       5
Opportunity_Type_16       4
Opportunity_Type_13       4
Opportunity_Type_11       3
Opportunity_Type_6        2
Opportunity_Type_24       1
Name: Opportunity_Type, dtype: int64

Quote_Type
Non Binding    16713
Binding          170
Name: Quote_Type, dtype: int64

Delivery_Terms
Delivery_Terms_4    7682
Delivery_Terms_2    4630
Delivery_Terms_1    2910
Delivery_Terms_6     779
Delivery_Terms_5     633
Delivery_Terms_8     164
Delivery_Terms_3      41
Delivery_Terms_7      38
Delivery_Terms_0       6
Name: Delivery_Terms, dtype: int64

Last_Modified_By
Person_Name_47    8514
Person_Name_50    1202
Person_Name_43     581
Person_Name_13     577
Person_Name_8      511
Person_Name_18     438
Person_Name_33     429
Person_Name_19     395
Person_Name_3      395
Person_Name_4      313
Person_Name_6      259
Person_Name_32     251
Person_Name_16     247
Person_Name_41     237
Person_Name_64     224
Person_Name_39     184
Person_Name_46     171
Person_Name_2      146
Person_Name_49     138
Person_Name_40     119
Person_Name_66     115
Person_Name_38     114
Person_Name_51      94
Person_Name_62      93
Person_Name_60      91
Person_Name_48      90
Person_Name_23      87
Person_Name_5       82
Person_Name_44      77
Person_Name_65      74
Person_Name_59      74
Person_Name_54      69
Person_Name_55      63
Person_Name_14      61
Person_Name_52      51
Person_Name_63      50
Person_Name_45      44
Person_Name_61      40
Person_Name_11      37
Person_Name_31      27
Person_Name_20      22
Person_Name_26      21
Person_Name_30      15
Person_Name_12      15
Person_Name_25      12
Person_Name_53       8
Person_Name_29       6
Person_Name_56       5
Person_Name_36       5
Person_Name_22       5
Person_Name_58       3
Person_Name_0        1
Person_Name_34       1
Name: Last_Modified_By, dtype: int64

Product_Family
Product_Family_77     1345
Product_Family_133    1249
Product_Family_132     760
Product_Family_212     629
Product_Family_100     619
                      ...
Product_Family_217       1
Product_Family_51        1
Product_Family_245       1
Product_Family_172       0
Product_Family_183       0
Name: Product_Family, Length: 227, dtype: int64

Product_Name
Product_Name_100    976
Product_Name_226    836
Product_Name_231    577
Product_Name_491    524
Product_Name_4      474
                   ...
Product_Name_183      1
Product_Name_52       1
Product_Name_41       1
Product_Name_247      1
Product_Name_156      1
Name: Product_Name, Length: 446, dtype: int64

ASP_Currency
USD    7321
EUR    4501
JPY    4500
AUD     556
GBP       5
Name: ASP_Currency, dtype: int64

Delivery_Quarter
Q2    4423
Q1    4295
Q4    4134
Q3    4031
Name: Delivery_Quarter, dtype: int64

Total_Taxable_Amount_Currency
USD    7305
EUR    4516
JPY    4505
AUD     553
GBP       4
Name: Total_Taxable_Amount_Currency, dtype: int64

Total_Taxable_Amount
0.00          995
588325.00      72
109620.00      68
488700.00      66
413700.00      60
             ...
745922.00       1
240941.25       1
449108.00       1
1933030.17      1
121837.50       1
Name: Total_Taxable_Amount, Length: 7052, dtype: int64

#### Region: one hot encoder

In [157]:
one_hot_enc_train = pd.get_dummies(grouped_train.Region)
one_hot_enc_test = pd.get_dummies(grouped_test.Region)

one_hot_enc_train, one_hot_enc_test = one_hot_enc_train\
    .align(one_hot_enc_test, join='left', axis=1)

z = pd.concat([df,one_hot_enc_train], axis = 1, sort=False)

In [158]:
calculateErrorXgb(z, y, 'one_hot_Region')

Log Loss: 0.673373

In [159]:
calculateErrorLogistic(z, y, 'one_hot_Region')

Log Loss: 14.389324

#### Columna Quote_Type

In [162]:
grouped_train.Quote_Type.value_counts()

Non Binding    9661
Binding         130
Name: Quote_Type, dtype: int64

In [167]:
z = df.copy()
z['Quote_Type'] = (grouped_train.Quote_Type == 'Binding').astype('int8')

In [168]:
calculateErrorXgb(z, y, 'Quote_Type')

Log Loss: 0.693265

In [169]:
calculateErrorLogistic(z, y, 'Quote_Type')

Log Loss: 16.999396

In [171]:
serie_losses.sort_values()

has_Sales_Contract_No                 0.181198
Month: month and year                 0.522921
days_elapsed                          0.628464
has_Brand                             0.637611
has_Product_Category_B                0.639801
has_Product_Type                      0.640351
has_Size                              0.641972
has_Price                             0.643052
one_hot_account_type                  0.646294
has_Currency                          0.647882
one_hot_bureaucratic_code             0.648564
ordinal_bureaucratic_code             0.648937
pricing_aprobada                      0.651272
bureaucratic_ok                       0.657980
Bureaucratic_Code_0_Approval          0.663914
one_hot_Region                        0.673373
count_id_3_groups                     0.684856
Pricing, Delivery_Terms_Quote_Appr    0.685320
Pricing, Delivery_Terms_Approved      0.685603
min_year                              0.686074
count_id_1_groups                     0.686573
week_day                              0.691313
Bureaucratic_Code_0_Approved          0.691748
Delivery_Quarter_cyclic               0.692001
one_hot_Delivery_Quarter              0.692001
Delivery_Quarter                      0.692001
Quote_Type                            0.693265
has_Source                            0.693382
dtype: float64

In [172]:
logistic_losses.sort_values()

has_Sales_Contract_No                  1.575315
one_hot_bureaucratic_code             12.837672
Bureaucratic_Code_0_Approval          13.049180
pricing_aprobada                      13.096317
ordinal_bureaucratic_code             13.119829
one_hot_account_type                  13.378278
bureaucratic_ok                       13.825211
one_hot_Region                        14.389324
has_Brand                             14.436555
has_Product_Category_B                14.530604
has_Product_Type                      14.554117
has_Size                              14.624654
has_Price                             14.671678
has_Currency                          14.883289
Pricing, Delivery_Terms_Approved      15.094744
Pricing, Delivery_Terms_Quote_Appr    15.541347
days_elapsed                          15.541495
count_id_3_groups                     15.564879
count_id_1_groups                     15.564879
Bureaucratic_Code_0_Approved          16.223365
one_hot_Delivery_Quarter              16.505444
Delivery_Quarter                      16.811206
week_day                              16.905328
min_year                              16.999396
has_Source                            16.999396
Quote_Type                            16.999396
Month: month and year                 17.163886
Delivery_Quarter_cyclic               17.163886
dtype: float64